<?xml version="1.0"?>
<launch>

    <group ns="/ally2">

        <!-- Set ROS Params -->
        <param name="robot_estimator_on" type="bool" value="true" />
        <param name="go_rogue" type="bool" value="false" />
        <param name="avoid_opponents" type="bool" value="true" />
        <param name="avoid_walls" type="bool" value="true" />

        <!-- Load this robot's param file -->
        <rosparam command="load" file="$(find playground)/param/$(optenv ROBOT fry).yaml" />

        <!-- Load this position (ally1/ally2) param file -->
        <rosparam command="load" file="$(find playground)/param/ally2.yaml" />

        <!-- Start the robot up -->
        <include file="$(find playground)/launch/robot.launch">
            <arg name="me" value="ally2" />
            <arg name="ally" value="ally1" />
        </include>

    </group>
</launch>
