<?xml version="1.0"?>
<launch>

    <param name="simulation_mode" type="bool" value="true" />

    <!-- Soccer Gazebo Simulator -->
    <include file="$(find soccersim)/launch/soccer.launch">
        <!-- You can save some CPU (~30%) by turning off the Gazebo GUI -->
        <arg name="gazebo_gui" value="false" />

        <arg name="vision_home1" value="/vision_ally1_position" />
        <arg name="vision_home2" value="/vision_ally2_position" />
        <arg name="vision_away1" value="/vision_opponent1_position" />
        <arg name="vision_away2" value="/vision_opponent2_position" />
        <arg name="vision_ball" value="/vision_ball_position" />

        <arg name="vel_cmd_home1" value="/ally1/vel_cmds" />
        <arg name="vel_cmd_home2" value="/ally2/vel_cmds" />
        <arg name="vel_cmd_away1" value="/opponent1/vel_cmds" />
        <arg name="vel_cmd_away2" value="/opponent2/vel_cmds" />

        <arg name="kick_home1" value="/ally1/kick" />
        <arg name="kick_home2" value="/ally2/kick" />
        <arg name="kick_away1" value="/opponent1/kick" />
        <arg name="kick_away2" value="/opponent2/kick" />
    </include>
</launch>