<?xml version="1.0"?>
<launch>

    <!-- Soccer Gazebo Simulator -->
    <include file="$(find soccersim)/launch/soccer.launch">
        <arg name="vision_home1" value="/vision_ally_position" />
        <!-- <arg name="vision_home2" value="/vision_ally_position" /> -->
        <arg name="vision_away1" value="/vision_opponent_position" />
        <!-- <arg name="vision_away2" value="/vision_ally_position" /> -->
        <arg name="vision_ball" value="/vision_ball_position" />
    </include>

    <!-- Hardware agnostic code (Code that runs on ODROID, except motion) -->
    <!-- <node name="odometry" pkg="playground" type="odometry_node.py" /> -->
    <node name="controller" pkg="playground" type="controller_node.py">
        <remap from="desired_position" to="desired_position_safe" />
        <remap from="vel_cmds" to="/home1/command" />
    </node>
    <node name="ball_estimator" pkg="playground" type="ball_estimator_node.py" />
    <node name="hack" pkg="playground" type="hack_node.py" />
    <node name="guidedog" pkg="playground" type="guidedog_node.py" output="screen" />

</launch>